@use '../../styles/utils.scss';
@import '../../styles/guidelines.scss';

.brandNav {
	// background-color: $teal1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin-top: 4rem;
	height: 5rem;
	padding: 2rem 4rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	box-shadow: $box_shadow_1;
	z-index: 20000 !important;
}

.brandNavOptions {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-right: 6rem;
}

.logo {
	font-size: 18px;
	text-align: center;
	font-weight: $fontweight_bold;
}

.navOption {
	margin-right: 1rem;
	padding: 5px 18px;
	border-radius: 7px;
	color: $teal12;
	font-size: 12px;
	font-weight: $fontweight_medium;
	text-transform: uppercase;
	animation:cubic-bezier(1, 0, 0, 1) 0.3s;

	&:hover {
		background-color: $teal4;
	}

	&_selected {
		background-color: $teal5 !important;
	}
}
