@import '../../styles/guidelines.scss';

.dropdown {
    margin-top: 30px;
    width: 300px !important;
    /* Mobile View */
    @media screen and (max-width: 1000px) {
        width: 100% !important;
    }
        p {
        margin-bottom: 10px !important;
        margin-left: 10px;
        font-size: 16px !important;
        font-weight: $fontweight_semibold !important;
        color: $prim_dark_2 !important;
    }
}
.cubo {
    font-size: 24px;
    color: $teal11;
    position: absolute;
    font-weight: $fontweight_bold;
    top: -30px;
    right: -30px;

    @media (min-width: 1000px) {
        display: none;
    }
}

.productsDisplay {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 80vh;
    border-right: 2px solid $sage6;
    position: relative;

    @media (max-width: 1000px) {
        align-self: center;
        border-right: none;
        width: 80%;
        padding-bottom: 50px;
        margin-bottom: 50px;
        border-bottom: 2px solid $grey_3;
        height: max-content;
    }
}

.productsDisplayWrapper {
    width: calc(100%);
    padding-left: 150px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;

    @media (max-width: 1000px) {
        padding: 0 30px;
    }
}

.merchantName {
    margin-bottom: 12px;
    color: $sage10;
    font-weight: $fontweight_semibold;
    font-size: 16px
}

.totalPrice {
    font-size: 42px;
    color: $teal12;
    font-weight: $fontweight_semibold;
    line-height: 40px;
}

.products {
    margin-top: 40px;
    width: 100%;
}

.product {
    width: 100%;
    margin-bottom: 18px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    .productImageText {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        height: 50px;

        img {
            width: 50px;
            height: 50px;
            border-radius: 7px;
        }

        .productTitle {
            display: flex;
            flex-direction: column;
            margin-left: 18px;

            .name {
                font-size: 16px;
            }
            .desc {
                font-size: 12px;
                font-weight: $fontweight_medium;
                color: $sage11;
            }
        }
    }

    .price {
        font-size: 16px;
        font-weight: $fontweight_semibold;
        color: $sage11;
    }
}