@use '../../styles/utils.scss';
@import '../../styles/guidelines.scss';

.page-header {
	padding-top: 10px;
	background: $sage1;
	align-items: center;
	display: flex;
	justify-content: space-between;
	position: fixed;
	align-items: center;
	top: 0;
	left: 0;
	z-index: 10000;
	width: 100%;
	min-height: max-content;
	padding-right: 45px !important;
	padding-left: 4rem !important;

	p {
		color: $teal11;
		font-size: 18px;
		text-align: center;
		font-weight: $fontweight_medium;
		margin-right: 3rem;
		position: relative;
	}

	span {
		position: absolute;
		bottom: -15px;
		right: -25px;
		// background: red;
		width: max-content;
		font-size: 10px;
		text-transform: uppercase;
		color: $sage12;
		font-weight: $fontweight_extrabold;
	}

	&__left {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}

	@media (max-width: 767px) {
		display: block;
	}

	.ui.header {
		display: flex;
		// Override default top margin so less space between
		// breadcrumbs and header.
		margin-top: 1.2rem;
		margin-right: 2rem;
	}

	@media screen and (min-width: 310px) and (max-width: 767px) {
		float: left;
		margin-bottom: 0;
		padding: 0 16px;
		width: 100%;

		.ui.breadcrumb {
			font-size: 0.9rem !important;
		}
	}
}

@media screen and (max-width: 1024px) {
	.header-right-wrap {
		.label {
			font-size: 10px !important;
		}
	}

	.page-header {
		padding: 0 16px;
	}
}
